h1 {
    text-align: center;
    color: rgb(192, 134, 201);
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
    
}


body {
    
    background-image: url("../backgroundmain.jpeg");
    background-size: auto;
    background-position: auto;
    background-repeat: no-repeat;
    background-size: 100%;
    background-color:#834848;
    font-family: Arial, sans-serif;
    color:rgb(221, 197, 197);

    #guess-container {
        /* Container for guess input */
        color: blue;
        margin: 20px auto;
        text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
        font-family: sans-serif;
        vertical-align: middle;
        text-transform: fullsize;
        font-weight: bold;
        background-color: rgba(150, 150, 150, 0.8);
        padding: 10px;
        border-radius: 10px;
        width: 400px;

        #text {
            margin: auto;
            display: flex;
            justify-content: center;
            align-items: center;
        }

      }
    

    #word-container {
        text-align: center;
        color: black;
        margin: 20px auto;
        letter-spacing: 10px;
        background-color: rgba(255, 255, 255, 0.3);
        padding: 10px;
        border-radius: 10px;
        width: 400px;
      }

      #word {
        font-size: 25px;
      }

      #sub-button {
        text-align: center;
        font-size: 18px;
        text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
        color: rgb(192, 134, 201);
        font-weight: bold;
        vertical-align: middle;
        margin-left: 40%;
        background-color: rgba(255, 255, 255, 0.3);
        width: 220px;
      }

      #message {
        text-align: center;
        font-size: 18px;
        text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
        color: rgb(192, 134, 201);
        font-weight: bold;
        margin-top: 150px auto;
        background-color: rgba(255, 255, 255, 0.3);
        width: 220px;
        
      }

    #wrong-guess {
        margin-left: 39%;
        font-size: 22px;
        font-weight: bold;
        color: rgb(189, 37, 37);
        text-shadow: -2px -2px 0 rgb(189, 181, 181), 1px -1px 0 rgb(180, 167, 167), -1px 1px 0 rgb(163, 146, 146), 1px 1px 0 rgb(152, 131, 131);
    }


     

      }
  